<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Yuru Yuri Katsudou Nikki</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link
            rel="stylesheet"
            href="https://esm.sh/photoswipe@5.2.7/dist/photoswipe.css"
        />
    </head>
    <body>
        <script type="module" src="script.js"></script>
    </body>
</html>
